/****** General ***********/
* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    --filter-border-color: #D9D9D9;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
}

/****** Header ***********/
header {
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

header img {
    width: 61.09px;
    height: 19px;
    margin: 30px 0;
}

.header-buttons-container {
    width: 245px;
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

header button {
    height: 35px;
    font-size: 16px;
    background: none;
}

header button:hover {
    color: var(--main-color);
    border-top: 2px solid var(--main-color);
}

/****** Main ***********/
.headline h2 {
    margin-bottom: 8px;
}

.search-and-filters form {
    width: 100%;
    max-width: 377px;
    height: 50px;
    margin: 35px 0;
    border: 1px solid var(--main-bg-color);
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
}

.search-and-filters i {
    width: 50px;
    border-radius: 15px 0 0 15px;
    background-color: var(--main-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

#form-input {
    max-width: 195px;
}

.search-and-filters input {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.long-search-bar {
    width: 132px;
    border-radius: 0 15px 15px 0;
    color: white;
    background-color: var(--main-color);
    display: block;
}

.short-search-bar {
    width: 50px;
    height: 50px;
    position: relative;
    display: none;
}

.short-search-bar input {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    opacity: 0;
}

.short-search-bar i {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 15px;
    color: white;
    background-color: var(--main-color);
}

.filters {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.filters p {
    margin-right: 15px;
    font-weight: 700;
    font-size: 18px;
}

.filters i {
    width: 22px;
    margin-right: 10px;
    background: none;
}

.filter-bar-container {
    width: 100%;
    max-width: 685px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.filter-bar-container p {
    margin: 0;
    font-size: 16px;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.buttons:nth-of-type(1) {
    max-width: 320px;

}

.buttons:nth-of-type(2) {
    max-width: 350px;

}

.filter {
    height: 50px;
    padding: 0 19px;
    border: 2px solid var(--filter-border-color);
    border-radius: 25px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.filter:hover {
    background-color: var(--filter-bg-color);
}

.info-bar {
    height: 24px;
    margin: 35px 0;
    display: flex;
    align-items: center;
}

.info-bar i {
    width: 24px;
    height: 100%;
    margin-right: 10px;
    font-size: x-small;
    background: none;
    border: 1px solid var(--filter-border-color);
    border-radius: 50%;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
}

/****** Hebergements ***********/
#hebergements {
    width: 65%;
}

.cards-container {
    margin-top: 30px;
    gap: 25px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#hebergements a {
    width: 100%;
    max-width: 31%;
}

#hebergements img {
    width: 100%;
    height: 114px;
    border-radius: 20px 20px 0 0;
}

#hebergements .card-content {
    padding: 4px 15px 15px 15px;
}

.show-more {
    margin-top: 30px;
    font-weight: 700;
    font-size: 18px;
}

/****** Populaires ***********/
#populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activites ***********/
#activites {
    padding: 30px;
}

#activites h2 {
    margin-bottom: 30px;
}

.activites-container {
    display: flex;
    justify-content: space-between;
}

.activites-container a {
    width: 100%;
    max-width: 23%;
}

.activites-container .card {
    width: 100%;
    height: 100%;
    padding: 0;
}

.activites-container img {
    width: 100%;
    height: 26vw;
    max-height: 380px;
    border-radius: 20px 20px 0 0;
}

.activites-container h3 {
    margin: 20px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    #hebergements {
        width: 100%;
    }

    #populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

@media (min-width: 1025px) and (max-width: 1290px), (max-width: 873px) {
    #hebergements a {
        width: 100%;
        max-width: 47%;
    }

    .populaires-cards .card {
        flex-direction: column;
    }

    .populaires-cards img {
        width: 100%;
        height: 114px;
        border-radius: 20px 20px 0 0;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}